<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"> </script>
    <title>Group Chat App</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="bg-green-500 p-5">
      <p
        class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl"
      >
        Group Chat App
      </p>
    </header>
    <section class="bg-gray-50 dark:bg-gray-900">
      <div class="flex justify-center px-6 py-8 mx-auto lg:py-0 mt-5">
        <div
          id="createNewGroup"
          class="p-6 space-y-4 md:space-y-6 sm:p-8 shadow w-3/12"
        >
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center text-green-500"
          >
            Create New Group
          </h1>
          <label
            for="groupName"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Name</label
          >
          <input
            type="text"
            name="groupName"
            id="groupName"
            class="p-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required=""
            placeholder="Enter new Group Name"
          /><button
            type="button"
            id="grpBtn"
            class="p-2 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
          >
            Create
          </button>
        </div>

        <div class="p-6 space-y-4 md:space-y-6 sm:p-8 shadow w-3/12">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center text-green-500"
          >
            Your Groups
          </h1>
          <ul id="groups-list"></ul>
          <button type="button" id="createGroupDisplay" class="hidden">
            Create a new Group
          </button>
        </div>
        <div id="addMembers" class="hidden">
          <div>
            <p
              class="text-l font-bold leading-tight tracking-tight text-gray-900 md:text-l dark:text-white text-center text-green-500"
            >
              Group Members
            </p>
            <ul id="groupMembers"></ul>
          </div>
          <h1
            class="text-l font-bold leading-tight tracking-tight text-gray-900 md:text-l dark:text-white text-center text-green-500"
          >
            Add Members
          </h1>
          <label
            for="groupName"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >E-mail</label
          >
          <input
            type="text"
            name="groupName"
            id="newMemberName"
            class="p-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required=""
            placeholder="Enter the email of the"
          />
          <button
            type="button"
            id="addBtn"
            class="p-2 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
          >
            Add to Group
          </button>
        </div>

        <div class="hidden" id="chats">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
              class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center text-green-500"
              id="chatHead"
            >
              Chats
            </h1>
            <ul id="messages-list"></ul>
            <input
              type="text"
              class="w-9/12 p-2 border"
              placeholder="Message"
              id="messageInput"
            />
            <input type="file" id="fileInput" accept="image/*,video/*"
       " />
            <button
              type="button"
              id="btn"
              class="p-2 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >
              Send
            </button>
          </div>
        </div>
      </div>
      <div id="current"></div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script>
      const socket =io('http://34.229.138.78:3000');
      const sendBtn = document.getElementById("btn");
      const token = localStorage.getItem("token");
      const addNewGroupBtn = document.getElementById("grpBtn");
      let current = document.getElementById("current");
      const addNewMemberBtn = document.getElementById("addBtn");
      const createGroupDisplay = document.getElementById("createGroupDisplay");

      socket.on('chat-messages',data =>{
        if(data.cur==cur){
          
          const parentNode = document.getElementById("messages-list");
          const childNode = document.createElement("li");
          childNode.className = "border p-2 m-2 shadow rounded";
          childNode.innerHTML = `${data.Name}: ${data.message}`;
          if(data.multimedia!==''){
            const multi = document.createElement('img');
          multi.src=data.multimedia;
          multi.alt='multimedia';
          multi.style.width = '300px'
                multi.style.height = '300px'
                childNode.appendChild(multi);
          }
          parentNode.appendChild(childNode);
          
        }
      })

      socket.on('new-group',data =>{
        if(cur ==0){
        fetchGroups();
        }else{
          getMessagesFromBackend();
        }
      })

      let cur = 0;
      let curN = "";
      async function fetchMessages() {
        try {
          let arr = JSON.parse(localStorage.getItem("messages"));
          let lastId = 0;
          if (arr) {
            if (arr.length > 0) {
              lastId = arr[arr.length - 1].id;
            }
          } else {
            arr = [];
          }
          const response = await axios.get(
            `http://34.229.138.78:3000/chat/chat/${lastId}`
          );
          if (response.data.chat.length > 0) {
            if (arr.length + response.data.chat.length > 10) {
              arr.splice(0, response.data.chat.length);
            }
            arr = [...arr, ...response.data.chat];
            if (Array.isArray(arr)) {
              localStorage.setItem("messages", JSON.stringify(arr));
            } else {
              localStorage.setItem("messages", JSON.stringify(arr));
            }
          }
          postMessagesToUi(arr);
        } catch (e) {
          console.log(e);
        }
      }

      function postMessagesToUi(messages) {
        const parentNode = document.getElementById("messages-list");
        parentNode.innerHTML = "";
        messages.forEach((element) => {
          
          const childNode = document.createElement("li");
          childNode.className = "border p-2 m-2 shadow rounded";
          childNode.innerHTML = element.messages;
          if(element.multimedia!==''){
          const multi = document.createElement('img');
          multi.src=element.multimedia;
          multi.alt='multimedia';
          multi.style.width = '300px'
                multi.style.height = '300px'
           childNode.appendChild(multi);     
          }
          parentNode.appendChild(childNode);
          
        });
      }

      async function sendMessage() {
        try {
          const message = document.getElementById("messageInput").value;
          const file = document.getElementById('fileInput');
          let formData = new FormData();
          formData.append('message',message);
          formData.append('file',file.files[0]);
          formData.append('groupId',cur);
          const response = await axios.post(
            "http://34.229.138.78:3000/chat/chat",
            formData,
            {
              
              headers: {'Content-Type': 'multipart/form-data', authorization: token },
            }
          );
          let multimedia =response.data.multimedia;
          socket.emit('send-chat-message',{message,cur,Name:localStorage.getItem('Name'),multimedia})
          document.getElementById("messageInput").value = "";
          document.getElementById('fileInput').value='';
        } catch (e) {
          console.log(e);
        }
      }

      async function createNewGroup() {
        const name = document.getElementById("groupName").value;
        try {
          const response = await axios.post(
            "http://34.229.138.78:3000/groups/createGroup",
            { name },
            {
              headers: { authorization: token },
            }
          );
          fetchGroups();
          document.getElementById("groupName").value = "";
        } catch (e) {
          console.log(e);
        }
      }

      async function fetchGroups() {
        try {
          socket.emit('new-user',{userId:token,message:'joined'})
          const response = await axios.get(
            "http://34.229.138.78:3000/groups/getGroups",
            {
              headers: { authorization: token },
            }
          );
          const parentNode = document.getElementById("groups-list");
          parentNode.innerHTML='';
          response.data.groups.forEach((element) => {
            const childNode = document.createElement("li");
            childNode.className = `border p-2 m-2 shadow rounded ${element.GroupId}`;
            childNode.innerHTML = element.groupName;
            current.className = element.groupId;
            childNode.onclick = getMessagesFromBackend;
            parentNode.appendChild(childNode);
          });
        } catch (e) {
          console.log(e);
        }
      }

      async function getMessagesFromBackend(e) {
        try {
          if (e) {
            cur = e.srcElement.className.split(" ")[5];
            curN = e.srcElement.innerHTML;
          }
         

          const response = await axios.get(
            `http://34.229.138.78:3000/chat/chat/${cur}`
          );
          document.getElementById("addMembers").className =
            "p-6 space-y-4 md:space-y-6 sm:p-8 shadow w-3/12";
          document.getElementById("chats").className =
            "flex flex-col w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 ";
          document.getElementById("createGroupDisplay").className =
            "p-2 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800";
          document.getElementById("createNewGroup").className = " hidden";
          document.getElementById("chatHead").innerHTML = curN;
          postMessagesToUi(response.data.chat);
          postUsersInGroupToUi(response.data.groupUsers);          
        } catch (e) {
          console.log(e);
        }
      }

      const addNewMemberHandler = async () => {
        try {
          const name = document.getElementById("newMemberName").value;
          const response = await axios.post(
            "http://34.229.138.78:3000/groups/addUser",
            { email: name, groupName: curN, groupId: cur }
          );
          
          socket.emit('new-group',{message:'new group created'})
          document.getElementById("newMemberName").value = "";
        } catch (e) {
          window.alert("No User Found");
          document.getElementById("newMemberName").value = "";
          console.log(e);
        }
      };

      function createGroupDisplayHandler() {
        document.getElementById("createNewGroup").className =
          "p-6 space-y-4 md:space-y-6 sm:p-8 shadow w-3/12";
        document.getElementById("chats").className = "hidden";
        document.getElementById("addMembers").className = "hidden";
        createGroupDisplay.className = "hidden";
      }

      function postUsersInGroupToUi(users) {
        const parentNode = document.getElementById("groupMembers");
        parentNode.innerHTML = "";
        users.forEach((element) => {
          const childNode = document.createElement("li");
          const deleteBtn = document.createElement("button");
          const MakeAdminBtn = document.createElement("button");
          MakeAdminBtn.innerHTML = "Make Admin";
          MakeAdminBtn.className =
            "bg-green-600 p-1 text-white rounded text-xs";
          deleteBtn.innerHTML = "Remove";
          deleteBtn.className =
            "ml-1 mr-1 bg-red-600 p-1 text-white rounded text-xs";
          childNode.className = `border p-1 m-2 shadow rounded ${element.id}`;
          childNode.innerHTML = element.name;
          current.className = element.id;
          deleteBtn.onclick = deleteUserHandler;
          MakeAdminBtn.onclick = makeAdminHandler;
          childNode.appendChild(deleteBtn);
          childNode.appendChild(MakeAdminBtn);
          parentNode.appendChild(childNode);
        });
      }

      async function deleteUserHandler(e) {
        try {
          const id = e.srcElement.parentElement.className.split(" ")[5];
          const response = await axios.delete(
            `http://34.229.138.78:3000/groups/delete/${id}-${cur}`,
            {
              headers: { authorization: token },
            }
          );
          getMessagesFromBackend();
          fetchGroups();
        } catch (e) {
          window.alert("Only Admin can remove User from Groups");
          console.log(e);
        }
      }

      const makeAdminHandler = async (e) => {
        try {
          const id = e.srcElement.parentElement.className.split(" ")[5];
          const response = await axios.post(
            "http://34.229.138.78:3000/groups/make-admin",
            {
              userId: id,
              groupId: cur,
            },
            {
              headers: { authorization: token },
            }
          );

          window.alert("admin status changed");
        } catch (e) {
          console.log(e);
        }
      };

      window.addEventListener("DOMContentLoaded", fetchGroups);
      sendBtn.addEventListener("click", sendMessage);
      addNewGroupBtn.addEventListener("click", createNewGroup);
      addNewMemberBtn.addEventListener("click", addNewMemberHandler);
      createGroupDisplay.addEventListener("click", createGroupDisplayHandler);
    </script>
  </body>
</html>
